<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Разделы</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/sections.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div class="d-flex flex-wrap my-nav-bar1 align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/sections" class="pages">Разделы</a>
    </div>
    <div class="d-flex flex-wrap my-nav-bar2 align-items-center justify-content-around">
        <form class="form-search">
            <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
        </form>
        <form>
            <button type="button" formaction="../Views/login.html" formmethod="get" class="btn btn-dark">Авторизация</button>
        </form>
        <form>
            <button type="button" formaction="../Views/registration.html" formmethod="get" class="btn btn-dark">Регистрация</button>
        </form>
    </div>
</header>
<main>
    <div class="navigation">
        <a href="/">
            <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
        </a>
        >>
        <a href="/sections">Разделы</a>
    </div>
    <div class="d-flex justify-content-between">
        <div class="main-block">
            <div class="content-block sections-block">
                <div class="list-of-sections">
                    <a href="/section" class="link-on-section">Веб-разработка</a>
                    <a href="#" class="link-on-section">GameDev</a>
                    <a href="#" class="link-on-section">Сетевые технологии</a>
                    <a href="#" class="link-on-section">DevOps</a>
                    <a href="#" class="link-on-section">Embadded-Разработка</a>
                    <a href="#" class="link-on-section">Операционные системы</a>
                    <a href="#" class="link-on-section">Купи слона</a>
                    <a href="#" class="link-on-section">А ты купи</a>
                    <a href="#" class="link-on-section">Слабо?</a>
                    <a href="#" class="link-on-section">Iot</a>
                    <a href="#" class="link-on-section">C++</a>
                    <a href="#" class="link-on-section">C#</a>
                    <a href="#" class="link-on-section">Python</a>
                    <a href="#" class="link-on-section">Java</a>
                    <a href="#" class="link-on-section">.Net</a>
                </div>
            </div>
            <div class="d-flex flex-column content-block discussing-block">
                <div class="d-flex justify-content-between header-of-desc">
                    <h3>Обсуждения:</h3>
                    <div class="d-flex justify-content-between desc-buttons flex-wrap">
                        <form>
                            <button type="button" class="btn btn-dark btn-create-desc">Cоздать обсуждение</button>
                        </form>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Новые
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#">Старые</a></li>
                                <li><a class="dropdown-item" href="#">Макс. кол-во сообщений</a></li>
                                <li><a class="dropdown-item" href="#">Мин. кол-во сообщений</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <table class="table table-desc">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Тег</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Обсуждение №1</td>
                        <td>Раздел №1</td>
                        <td>Пользователь №1</td>
                        <td>dd.mm.yyyy</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Обсуждение №2</td>
                        <td>Раздел №2</td>
                        <td>Пользователь №2</td>
                        <td>dd.mm.yyyy</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Обсуждение №3</td>
                        <td>Раздел №3</td>
                        <td>Пользователь №3</td>
                        <td>dd.mm.yyyy</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content-block recent-block">
            <h3 class="text-center">Избранное</h3><hr>
            <ul>
                <li><a href="/section">Веб-разработка</a></li>
                <li><a href="#">GameDev</a></li>
                <li><a href="#">Ребят, помогите сделать курсовую</a></li>
                <li><a href="#">Что такое нормальные формы БД? Поясните, пж!</a></li>
            </ul>
        </div>
    </div>
</main>
<footer class="d-flex justify-content-around align-items-center">
    © Все права защищены
</footer>
</body>
</html>