<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Разделы</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/topics.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
    <script src="~/js/General.js"></script>
    <script src="~/js/handlers/Navigation.js"></script>
    <script src="~/js/handlers/DefaultEventsForButtons.js"></script>
    <script src="~/js/handlers/AuthUser.js"></script>
    <script src="~/js/handlers/LoadTopics.js"></script>
    <script src="~/js/handlers/CreateDiscussion.js"></script>
    <script src="~/js/handlers/LoadAllDiscussions.js"></script>
    <script src="~/js/orderOfHandlers/ForAllTopics.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js">
    </script>
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div id="my-nav-bar1" class="d-flex flex-wrap align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/topics" class="pages">Разделы</a>
    </div>
    <div id="my-nav-bar2" class="d-flex flex-wrap align-items-center justify-content-around">
        <form id="form-search">
            <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
        <button id="btn-auth" class="btn btn-dark">Авторизация</button>
        <button id="btn-reg" class="btn btn-dark">Регистрация</button>
    </div>
</header>
<main>
    <div id="navigation">
        <a href="/">
            <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
        </a>
        >>
        <a href="/topics">Разделы</a>
    </div>
    <div class="d-flex justify-content-between">
        <div id="main-block">
            <div id="topics-block" class="content-block">
                <div id="list-of-topics"></div>
            </div>
            <div id="discussing-block" class="d-flex flex-column content-block">
                <div id="header-of-disc" class="d-flex justify-content-between">
                    <h3>Обсуждения:</h3>
                    <div id="disc-buttons" class="d-flex justify-content-between flex-wrap">
                        <button id="btn-create-disc" type="button" class="btn btn-dark">Cоздать обсуждение</button>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Новые
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#">Старые</a></li>
                                <li><a class="dropdown-item" href="#">Макс. кол-во сообщений</a></li>
                                <li><a class="dropdown-item" href="#">Мин. кол-во сообщений</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <table id="table-disc" class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Тег</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Дата</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="favorites-block"></div>
    </div>
</main>
<footer class="d-flex justify-content-around align-items-center">
    © Все права защищены
</footer>
</body>
</html>