<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Восстановление пароля</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
    <link href="~/css/change_password.css" rel="stylesheet">
    <script src="~/js/for_all_pages.js"></script>
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div id="my-nav-bar1" class="d-flex flex-wrap align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/sections" class="pages">Разделы</a>
    </div>
    <div id="my-nav-bar2" class="d-flex flex-wrap align-items-center justify-content-around">
        <form class="form-search">
            <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
        </form>
        <button id="btn-auth" class="btn btn-dark" onclick="redirectOnLoginPage()">Авторизация</button>
        <button id="btn-reg" class="btn btn-dark" onclick="redirectOnRegistrationPage()">Регистрация</button>
    </div>
</header>
<main>
    <div class="navigation">
        <a href="/">
            <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
        </a>
        >>
        <a href="/login">Авторизация</a>
        >>
        <a href="/send_email">Восстановление пароля</a>
    </div>
    <div class="d-flex flex-column content-block changes-block justify-content-between">
        <div class="d-flex flex-column box-change">
            <div class="d-flex form-passwd flex-column">
                <label for="floatingPassword">Введите новый пароль:</label>
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
<!--                <p class="warning">Пароль должен содержать только латинские буквы и хотя бы одну цифру</p>-->
            </div>
            <div class="d-flex form-passwd flex-column">
                <label for="floatingConfirmPassword">Подтвердите новый пароль:</label>
                <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password">
<!--                <p class="warning">Пароли не совпадают</p>-->
            </div>
        </div>
        <div class="d-flex btn-save justify-content-end align-items-center">
            <form>
                <button type="button" formaction="../Views/index.html" formmethod="get" class="btn btn-dark">Сохранить изменения</button>
            </form>
        </div>
    </div>
</main>
<footer class="d-flex justify-content-around align-items-center">
    © Все права защищены
</footer>
</body>
</html>