<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Обсуждение №1</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/discussion.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
    <script src="~/js/General.js"></script>
    <script src="~/js/handlers/Navigation.js"></script>
    <script src="~/js/handlers/DefaultEventsForButtons.js"></script>
    <script src="~/js/handlers/AuthUser.js"></script>
    <script src="~/js/orderOfHandlers/ForDiscussion.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div id="my-nav-bar1" class="d-flex flex-wrap align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/topics" class="pages">Разделы</a>
    </div>
    <div id="my-nav-bar2" class="d-flex flex-wrap align-items-center justify-content-around">
        <form id="form-search">
            <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
        <button id="btn-auth" class="btn btn-dark">Авторизация</button>
        <button id="btn-reg" class="btn btn-dark">Регистрация</button>
    </div>
</header>
<main>
    <div id="navigation">
        <a href="/">
            <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
        </a>
        >>
        <a href="/sections">Разделы</a>
        >>
    </div>
    <div id="main-block">
        <div class="content-block user-block">
            <h3><a href="/profile">Пользователь</a></h3><br>
            <span>люблю задавать вопросики</span>
        </div>
        <div class="content-block answer-block">
            <h2>Йоу, Ребзя! Подскажите деду, как правильно делать дизайн?gfdgfgdfgdfgdfgdfgdfdfffffffffffffffff</h2><hr>
            <p>реально помогите! Я эти кнопки делаю 3 миллиона лет!</p>
        </div>
        <div class="content-block user-block">
            <h3>Пользователь</h3><br>
            <span>люблю задавать вопросики</span>
        </div>
        <div class="content-block answer-block">
            <p>Йоу, Ребзя! Подскажите деду, как правильно делать дизайн?</p>
        </div>
        <div class="content-block user-block">
            <h3>Пользователь</h3><br>
            <span>люблю задавать вопросики</span>
        </div>
        <div class="content-block answer-block">
            <p>Идите нахер, Ребзя</p>
        </div>
        <div id="disc-buttons" class="d-flex justify-content-between">
            <form id="add-answer">
                <button class="btn btn-dark btn-answer-create">Добавить ответ</button>
            </form>
            <form id="create-disc">
                <button class="btn btn-dark btn-answer-create">Создать обсуждение</button>
            </form>
        </div>
    </div>
</main>
<footer class="d-flex justify-content-around align-items-center">
    © Все права защищены
</footer>
</body>
</html>