<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Главная</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
    <script src="~/js/General.js"></script>
    <script src="~/js/handlers/DefaultEventsForButtons.js"></script>
    <script src="~/js/handlers/AuthUser.js"></script>
    <script src="~/js/orderOfHandlers/ForIndex.js"></script>
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div id="my-nav-bar1" class="d-flex flex-wrap align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/topics" class="pages">Разделы</a>
    </div>
    <div id="my-nav-bar2" class="d-flex flex-wrap align-items-center justify-content-around">
        <form id="form-search">
            <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
        <button id="btn-auth" class="btn btn-dark">Авторизация</button>
        <button id="btn-reg" class="btn btn-dark">Регистрация</button>
    </div>
</header>
<main>
    <div id="navigation">
        <a href="/">
            <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
        </a>
    </div>
    <div class="d-flex justify-content-between">
        <div id="main-block">
            <div id="content" class="content-block">
                <h2>Добро пожаловать!</h2><hr>
                <p>Форум посвящен IT-тематикам. Это место, где каждый сможет создать обсуждение, поговорить о проблемах, спросить о реализации той или иной вещи, выложить свое собственное исследование или просто пообщаться с другими людьми. Данный форум будет чем-то средним между обычным форумом и соц. сетью. Здесь мы ответим на самый главный вопрос: How I did it!!!</p>
            </div>
            <div id="news" class="content-block">
                <h2>Новости форума</h2><hr>
                <p>Вот это хорошие новости!</p>
            </div>
        </div>
        <div id="favorites-block"></div>
    </div>
</main>
<footer>
    © Все права защищены
</footer>
</body>
</html>