<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
    <link href="~/css/registration.css" rel="stylesheet">
    <script src="~/js/General.js"></script>
    <script src="~/js/handlers/DefaultEventsForButtons.js"></script>
    <script src="~/js/handlers/UserRegistration.js"></script>
    <script src="~/js/orderOfHandlers/ForRegistration.js"></script>
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div id="my-nav-bar1" class="d-flex flex-wrap align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/topics" class="pages">Разделы</a>
    </div>
    <div id="my-nav-bar2" class="d-flex flex-wrap align-items-center justify-content-around">
        <form id="form-search">
            <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
        <button id="btn-auth" class="btn btn-dark">Авторизация</button>
        <button id="btn-reg" class="btn btn-dark">Регистрация</button>
    </div>
</header>
<main>
    <div id="navigation">
        <a href="/">
            <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
        </a>
        >>
        <a href="/registration">Регистрация</a>
    </div>
    <form id="registration-block" class="d-flex flex-column content-block justify-content-between">
        <div id="box-registration" class="d-flex flex-column">
            <div class="d-flex form-login flex-column">
                <label for="login">Введите ваш логин:</label>
                <input type="text" class="form-control" id="login" placeholder="Введите логин">
            </div>
            <div class="d-flex form-passwd flex-column">
                <label for="password">Введите ваш пароль:</label>
                <input type="password" class="form-control" id="password" placeholder="Введите пароль">
            </div>
            <div class="d-flex form-passwd flex-column">
                <label for="confirmPassword">Подтвердите ваш пароль:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Подтвердите пароль">
            </div>
        </div>
        <button type="submit" class="btn btn-dark btn-register">Зарегистрироваться</button>
    </form>
</main>
<footer class="d-flex justify-content-around align-items-center">
    © Все права защищены
</footer>
</body>
</html>