<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
    <link href="~/css/registration.css" rel="stylesheet">
    <script src="~/js/BtnLoginRegistrationOnPage.js"></script>
    <script src="~/js/UserRegistration.js"></script>
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div id="my-nav-bar1" class="d-flex flex-wrap align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/sections" class="pages">Разделы</a>
    </div>
    <div id="my-nav-bar2" class="d-flex flex-wrap align-items-center justify-content-around">
        <form class="form-search">
            <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
        </form>
        <button id="btn-auth" class="btn btn-dark" onclick="redirectOnLoginPage()">Авторизация</button>
        <button id="btn-reg" class="btn btn-dark" onclick="redirectOnRegistrationPage()">Регистрация</button>
    </div>
</header>
<main>
    <div class="navigation">
        <a href="/">
            <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
        </a>
        >>
        <a href="/registration">Регистрация</a>
    </div>
    <div class="d-flex flex-column content-block registration-block justify-content-between">
        <form id="register-form">
            <div class="d-flex flex-column box-registration">
                <div class="d-flex form-login flex-column">
                    <label for="floatingLogin">Введите ваш логин:</label>
                    <input type="text" class="form-control" id="floatingLogin" placeholder="Введите логин">
                </div>
                <div class="d-flex form-passwd flex-column">
                    <label for="floatingPassword">Введите ваш пароль:</label>
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Введите пароль">
                </div>
                <div class="d-flex form-passwd flex-column">
                    <label for="floatingConfirmPassword">Подтвердите ваш пароль:</label>
                    <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Подтвердите пароль">
                    @* <p class="warning">Пароли не совпадают</p> *@
                </div>
            </div>
            <div class="d-flex btn-register justify-content-end align-items-center">
                <button type="submit" form="register-form" class="btn btn-dark">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</main>
<footer class="d-flex justify-content-around align-items-center">
    © Все права защищены
</footer>
</body>
</html>