<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Раздел №1</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/sections.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
    <script src="~/js/BtnLoginRegistrationOnPage.js"></script>
    <script src="~/js/GetDataForHeaderAndFavorites.js"></script>
    <script src="~/js/AppendToFavorites.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div id="my-nav-bar1" class="d-flex flex-wrap align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/sections" class="pages">Разделы</a>
    </div>
    <div id="my-nav-bar2" class="d-flex flex-wrap align-items-center justify-content-around">
        <form class="form-search">
            <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
        </form>
        <button id="btn-auth" class="btn btn-dark" onclick="redirectOnLoginPage()">Авторизация</button>
        <button id="btn-reg" class="btn btn-dark" onclick="redirectOnRegistrationPage()">Регистрация</button>
    </div>
</header>
<main>
    <div class="navigation">
            <a href="/">
                <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
            </a>
            >>
            <a href="/sections">Разделы</a>
            >>
            <a href="/section">Раздел №1</a>
    </div>
    <div class="d-flex justify-content-between">
        <div class="main-block">
            <div class="content-block sections-block">
                <div class ="d-flex justify-content-between">
                    <h3 class="name-of-section">Веб-разработка</h3><hr>
                    <input type="checkbox" class="btn-check" id="btn-add-to-favorites">
                    <label class="btn shadow-none" for="btn-add-to-favorites">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                        </svg>
                    </label>
                </div>
                <p>Описание</p>
            </div>
            <div class="d-flex flex-column content-block discussing-block">
                <div class="d-flex justify-content-between header-of-desc">
                    <h3>Обсуждения:</h3>
                    <div class="d-flex desc-buttons flex-wrap justify-content-between">
                        <form>
                            <button type="button" class="btn btn-dark btn-create-desc">Cоздать обсуждение</button>
                        </form>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Новые
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item active" href="#">Старые</a></li>
                                <li><a class="dropdown-item" href="#">Макс. кол-во сообщений</a></li>
                                <li><a class="dropdown-item" href="#">Мин. кол-во сообщений</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <table class="table table-desc">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Обсуждение №1</td>
                        <td>Пользователь №1</td>
                        <td>dd.mm.yyyy</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Обсуждение №2</td>
                        <td>Пользователь №2</td>
                        <td>dd.mm.yyyy</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Обсуждение №3</td>
                        <td>Пользователь №3</td>
                        <td>dd.mm.yyyy</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="favorites-block" class="content-block">
            <h3 class="text-center">Избранное</h3><hr>
            <ul id="links-for-favorites">
                <li><a href="/section">Веб-разработка</a></li>
                <li><a href="#">GameDev</a></li>
                <li><a href="#">Ребят, помогите сделать курсовую</a></li>
                <li><a href="#">Что такое нормальные формы БД? Поясните, пж!</a></li>
            </ul>
        </div>
    </div>
</main>
<footer class="d-flex justify-content-around align-items-center">
    © Все права защищены
</footer>
</body>
</html>