<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Восстановление пароля</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/for_all_pages.css" rel="stylesheet">
    <link href="~/css/send_email.css" rel="stylesheet">
    <script src="~/js/for_all_pages.js"></script>
</head>
<body class="background text-font">
<header class="d-flex flex-wrap justify-content-between">
    <div class="d-flex flex-wrap my-nav-bar1 align-items-center justify-content-around">
        <a href="/" class="logo">HowIdidIT</a>
        <a href="/" class="pages">Главная</a>
        <a href="/sections" class="pages">Разделы</a>
    </div>
    <div class="d-flex flex-wrap my-nav-bar2 align-items-center justify-content-around">
        <form class="form-search">
            <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
        </form>
        <button onclick="redirectOnLoginPage()" class="btn btn-dark">Авторизация</button>
        <button onclick="redirectOnRegistrationPage()" class="btn btn-dark">Регистрация</button>
    </div>
</header>
<main>
    <div class="navigation">
        <a href="/">
            <img src="~/pictures/home_icon.png" height=20 alt="Главная">Главная
        </a>
        >>
        <a href="/login">Авторизация</a>
        >>
        <a href="/send_email">Восстановление пароля</a>
    </div>
    <div class="d-flex flex-column content-block email-block justify-content-between">
        <div class="d-flex flex-column form-email">
            <label for="floatingEmail">Введите ваш Email:</label>
            <input type="email" class="form-control" id="floatingEmail" placeholder="Email address">
        </div>
        <form class="btn-send align-self-end">
            <button type="button" formaction="../Views/index.html" formmethod="get" class="btn btn-dark">Отправить</button>
        </form>
        <p class="shipped align-self-center">На ваш Email было отправлено сообщение</p>
    </div>
</main>
<footer class="d-flex justify-content-around align-items-center">
    © Все права защищены
</footer>
</body>
</html>