main {
    display: grid;
    grid-template-rows: max-content minmax(45vh, max-content);
    grid-template-columns: minmax(35vw, max-content);
    justify-content: center;
    grid-row-gap: 10px;
}

#changes-block {
    grid-row: 2;
    grid-column: 1;
}

.form-passwd {
    max-height: 50%;
    margin-bottom: 20px;
}

label[for^=floating] {
    font-size: 1rem;
    margin-bottom: 10px;
}