main {
    display: grid;
    grid-template-rows: max-content minmax(45vh, max-content);
    grid-template-columns: minmax(35vw, max-content);
    justify-content: center;
    grid-row-gap: 10px;
}

.changes-block {
    grid-row: 2;
    grid-column: 1;
}

.box-change {
    flex-basis: max-content;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.form-passwd {
    max-height: 50%;
    margin-bottom: 20px;
}

label[for^=floating] {
    font-size: 1rem;
    margin-bottom: 10px;
}

.btn-save {
    max-height: max-content;
}

.warning {
    margin-top: 10px;
    color: #ea1530;
}