main {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 50%;
    grid-row-gap: 10px;
    justify-content: center;
}

#profile-block {
    min-width: max-content;
}

#avatar-block {
    max-width: 30%;
    margin-right: 30px;
}

#avatar-block > img {
    border-radius: 100px;
}

#login-part {
    max-width: 70%;
}

#login-part > input[type=text] {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#login-part > p {
    padding-left: 5px;
}

#edit-buttons > button {
    margin-right: 20px;
}

#description-part {
    margin-bottom: 20px;
}

#description-part > textarea {
    min-height: 150px;
}

.form-password {
    max-height: 50%;
    margin-bottom: 20px;
}

#change-password-block label {
    font-size: 1rem;
    margin-bottom: 10px;
}