main {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 35vw;
    justify-content: center;
    grid-row-gap: 10px;
}

#registration-block {
    grid-row: 2;
    grid-column: 1;
}

#box-registration {
    font-size: 0.8rem;
    margin-bottom: 20px;
    flex-basis: 40%;
}

.form-login {
    margin-bottom: 35px;
}

.form-passwd {
    margin-bottom: 35px;
}

#box-registration > div > label {
    font-size: 1rem;
    margin-bottom: 10px;
}

.btn-register {
    margin-bottom: 30px;
    align-self: end;
}

.warning {
    margin-top: 10px;
    color: #ea1530;
    text-align: center;
}