main {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 90%;
    grid-row-gap: 10px;
    margin-inline: 20px;
    justify-content: center;
}

.main-block {
    grid-row: 2;
    display: grid;
    grid-template-rows: minmax(20vh, max-content) 30px minmax(20vh, max-content);
    grid-template-columns: minmax(600px, 50vw);
    grid-row-gap: 5px;
}

.sections-block {
    align-self: auto;
    font-size: 0.9rem;
    grid-row: 1;
    grid-column: 1;
}

.list-of-sections {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-gap: 5px;
    vertical-align: center;
    text-align: center;
}

.discussing-block {
    font-size: 0.8rem;
    grid-row: 3;
    grid-column: 1;
}

.table-desc {
    background-color: #222121;
    border-radius: 10px;
    color: aliceblue;
}

table.table-desc >tbody > tr:hover {
    background-color: #323030;
}

.header-of-desc {
    margin-bottom: 20px;
}

.header-of-desc > h3 {
    max-width: 20%;
}

.desc-buttons {
    max-width: 60%;
}

.btn-create-desc {
    margin-right: 30px;
}

.dropdown-menu {
    background-color: #2A2A2A;
    max-width: 40%;
}

ul.dropdown-menu > li > a {
    color: aliceblue;
}

.link-on-section {
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

