main {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 90%;
    grid-row-gap: 10px;
    margin-inline: 20px;
    justify-content: center;
}

#main-block {
    grid-row: 2;
    display: grid;
    grid-template-rows: minmax(20vh, max-content) 30px minmax(20vh, max-content);
    grid-template-columns: minmax(600px, 50vw);
    grid-row-gap: 5px;
}

#topics-block {
    align-self: auto;
    font-size: 0.9rem;
    grid-row: 1;
    grid-column: 1;
}

#list-of-topics {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-gap: 15px;
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
}

.link-on-topics {
    font-size: 0.9rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#discussing-block {
    font-size: 0.8rem;
    grid-row: 3;
    grid-column: 1;
    min-width: min-content;
}

#header-of-discussions {
    margin-bottom: 20px;
}

#header-of-discussions > h3 {
    max-width: 20%;
    align-self: center;
}

#discussions-buttons {
    max-width: 60%;
    align-content: center;
}

#btn-create-discussion {
    margin-right: 30px;
}

#selectSort {
    box-shadow: #FFFFFF;
    color: aliceblue;
    background-color: #222121;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    font-style: normal;
    max-width: max-content;
}

#selectSort > option {
    color: aliceblue;
    background-color: #222121;
}

#selectSort:hover {
    background-color: #FFFFFF;
    color: black;
}

.dropdown-menu {
    background-color: #2A2A2A;
    max-width: 40%;
}

ul.dropdown-menu > li > a {
    color: aliceblue;
}

#table-discussion {
    background-color: #222121;
    border-radius: 10px;
    color: aliceblue;
}

#table-discussion > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
}

#table-discussion > tbody > tr:hover {
    background-color: #323030;
}

.name-of-new-topic,
.description-for-new-topic {
    margin-bottom: 30px;
}

.name-of-new-topic > label,
.description-for-new-topic > label {
    margin-bottom: 10px;
}

.edit-topic-name,
.edit-description-for-topic {
    margin-bottom: 30px;
}

.edit-topic-name > label,
.edit-description-for-topic > label {
    margin-bottom: 10px;
}

.name-of-new-discussion, 
.description-of-new-discussion,
.select-topic-for-new-discussion {
    margin-bottom: 30px;
}

.name-of-new-discussion > label,
.description-of-new-discussion > label,
.select-topic-for-new-discussion > label {
    margin-bottom: 10px;
}
